.sidebar {
  top: 0;
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: 0.5px solid black;
  background-color: black;
  z-index: 10000;
}

.nav {
  position: relative;
  top: 60%;
  transform: translateY(-70%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding-left: 10%;
}

.nav ul li {
  position: relative;
}

li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 1em;
}

.logo {
  width: 60%;
}

.logoutButton {
  width: 100%;
  padding: 0.6em 0.6em 0.6em 1em;
  color: white;
  background: transparent;
  font-weight: bold;
  border: none;
  text-align: left;
}

.hamburgerMenu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hamburgerMenu {
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10001;
  }

  .hamburgerButton,
  .hamburgerImage {
    width: 100%;
    height: 100%;
  }

  .hamburgerButton {
    border: none;
    background: #fff;
  }

  .sidebar {
    display: none;
    min-width: 100vw;
    min-height: 100vh;
  }

  .open {
    display: block;
    background: #fff;
  }

  .logo {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .nav {
    transform: none;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav ul {
    padding-left: 0;
  }

  .nav ul li {
    margin-bottom: 1rem;
  }

  li a {
    color: black;
  }

  .logoutButton {
    width: 25%;
    border-radius: 5px;
    text-align: center;
    padding-left: 0.6em;
    white-space: nowrap;
    color: #fff;
    background: #0D6EFD;
  }
}
